@text-color: #494848;
@border-color: #D2D2D2;
@content-width: 960px;
@font-size: 16px;

.antialiased (@color) {
	color: @color;
	text-shadow: @color 0 0 1px;
}

.emphasis {
}

* {
	color: @text-color;
}

body {
	font-size: @font-size;
	line-height: @font-size * 1.5;
	background: rgb(254, 255, 250);
	margin: 0; padding: 0;
	font-family: Helvetica, Arial, sans-serif;
}

a {
	text-decoration: none;
	color: #0065A8;
	&:hover {
		text-decoration: underline;
	}
}

.wrapper {
	width: @content-width;
	margin: auto;

}

.jspVerticalBar {
  width: 5px!important;
}

/**
 * Header
 */
header {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 700;
	background: rgb(254, 255, 250);
	height: 110px;
	width: 100%;
	div.wrapper {
		padding: 10px 5px 7px 10px;
		height: 125px;
		border-bottom: 4px solid #5F8BBE;
		img {
			position: relative;
			top: 10px;
			margin: 0 15px 0 0;
		}
		nav {
			margin-top: 35px;
			margin-bottom: 35px;
			font-weight: 700;
			font-size: 19px;
			a {
				text-decoration: none;
				color: @text-color;
				&:hover {
					text-decoration: none;
					.antialiased(#0065A8);
				}
				&.active {
					text-decoration: none;
					.antialiased(#0065A8);
				}
			}
			ul {
				list-style-type: none;
				margin: 0;
				padding: 0;
					li:nth-child(1) {
						float: left;
						padding-left: 0;
					}
					li:nth-child(n+2) {
						float: left;
						padding-left:43px;
					}
			}
		}
	}
}

/**
 * General content styling
 */
#content {
	margin-bottom: 15px;
	// min-height: 460px;
	div.wrapper {
		margin: 65px auto;
		min-height: 450px;
		div.panel {
			margin: 0;
			margin-bottom: 29px;
			color: @text-color;
			&.right {
				width: 300px;
				height: 500px;
				float: left;
				margin-left: 30px;
				img {
					margin-top: 0;
					float: none;
				}
			}
			&.left {
				width: 440px;
				float: left;
				background: white;
				border-radius: 6px;
				border: 1px solid @border-color;

					&:last-child {
						border: none;
					}
					p {
						font-family: Helvetica, Arial, sans-serif;
						font-weight: 700;
						color: @text-color;
						line-height: 1.5em;
					}
					ul {
						font-weight: bold;
					}

				}

			}

			* {
				margin: 11px 0;
			}
			h1 {
				border-bottom: 1px solid @border-color;
				margin: 5px 0;
				font-weight: bold;
				font-size: 22px;
				padding: 13px 23px;
  		  line-height: 1.5em;
			}
			h2 {
				margin: 5px 0;
				padding: 13px 23px;
			}
			p {
				padding: 5px 24px;
				margin-top: 5px;
				margin-bottom: 0;
			}
			code, pre {
			  border:1px dashed #FF6868;
			  display:block;
			  overflow:auto;
			  padding:10px;
			  margin:23px;
			  white-space: pre;
			}
		}
}

/**
 * Platforms and Custom products
 */
#content {
	div.menu {
		float: left;
		width: 210px;
		height: 100%;
		margin-top: -16px;
		font-weight: 700;
		a {
			text-decoration: none;
			color: #0065A8;
			&:hover {
				text-decoration: none;
				color: @text-color;
			}
		}
			ul {
				list-style-type: none;
				padding-left: 0;
			}
		&.fixed {
			z-index: 9999;
			position: fixed;
			top: 0;
		}

	}
	div.copy-platforms {
		float: left;
		width: 750px;
		height: 400px;
		margin-top: -20px;
		overflow: auto;
		div.jspContainer {
			width: 730px;
		}
		img {
			margin-bottom: 185px;
			width: 450px;
			&.last {
				margin-bottom: 85px;
			}
			&.second {
				margin-bottom: 40px;
				margin-top: -2px;
			}
		}
		p {
			width: 220px;
			float: left;
			&.secondary {
				float: none;
				width: 650px;
				padding-bottom: 17px;
			}
		}

	}
	div.products {
		div.menu {
			width: 200px;
		}
	}
	div.copy-products {
		float: left;
		width: 730px;
		height: 400px;
		overflow: auto;
		margin-top: 0;
		padding-left: 24px;
			img {
				padding-left: 24px;
			}
	}
}


/**
 * Ad Spaces
 */
#content {
	div.lead {
		height: 500px;
		background-color: white;
		border-radius: 6px;
		border: 1px solid @border-color;
		div.panel {
			&.right {
				width: 443px;
				img {
					margin-left: 10px;
				}
		  }
			&.left {
				width: 267px;
				border: none;
			}

		}
	}
	div.mpu {
		height: 500px;
		background-color: white;
		border-radius: 6px;
		border: 1px solid @border-color;
		div.panel {
				&.right {
					width: 443px;
			  }
			&.left {
				width: 380px;
				border: none;
			}
		}
	}
	div.sky {
		height: 500px;
		background-color: white;
		border-radius: 6px;
		border: 1px solid @border-color;
		div.panel {
			&.left {
				width: 275px;
				border: none;
			}
		}
			img {
				padding-left: 105px;
			}
	}
	div.common-print {
		height:1230px;
		background-color: white;
		border-radius: 6px;
		border: 1px solid @border-color;
		text-align: center;

	}
	div.common-web {
		height:590px;
		background-color: white;
		border-radius: 6px;
		border: 1px solid @border-color;
		padding-top: 43px;
	}
}



/**
 * Footer
 */
footer {
	background: rgb(254, 255, 250);
	height: 75px;
	font-size: 14px;
	clear: both;
	&.front {
		margin-top: 300px;
	}
	div.wrapper {
		// padding: 15px;
		img {
			float: right;
		}
	}
}


