*{color:#494848;}
body{font-size:16px;line-height:24px;background:#fefffa;margin:0;padding:0;font-family:Helvetica,Arial,sans-serif;}
/* Make HTML 5 elements display block-level for consistent styling */
header, nav, article, footer, address {
    display: block;
}
a{text-decoration:none;color:#0065A8;}a:hover{text-decoration:underline;}
.wrapper{width:960px;margin:auto;}
.jspVerticalBar{width:5px!important;}
header{font-family:Helvetica,Arial,sans-serif;font-weight:700;background:#fefffa;height:110px;width:100%;}header div.wrapper{padding:10px 5px 17px 10px;height:125px;border-bottom:4px solid #5F8BBE;}header div.wrapper img{position:relative;top:10px;margin:0 15px 0 0;}
header div.wrapper nav{margin-top:35px;margin-bottom:35px;font-weight:700;font-size:19px;}header div.wrapper nav a{text-decoration:none;color:#494848;}header div.wrapper nav a:hover{text-decoration:none;color:#0065a8;text-shadow:#0065a8 0 0 1px;}
header div.wrapper nav a.active{text-decoration:none;color:#0065a8;text-shadow:#0065a8 0 0 1px;}
header div.wrapper nav ul{list-style-type:none;margin:0;padding:0;}
header div.wrapper nav ul li:nth-child(1){float:left;padding-left:0;}
/*header div.wrapper nav ul li:nth-child(n+2){float:left;padding-left:43px;}*/
header div.wrapper nav ul li {float:left;padding-right:40px;}


#content{margin-bottom:15px;}#content div.wrapper{margin:65px auto;min-height:450px;}#content div.wrapper div.panel{margin:0;margin-bottom:29px;color:#494848;}#content div.wrapper div.panel.right{width:300px;height:500px;float:left;margin-left:30px;}#content div.wrapper div.panel.right img{margin-top:0;float:none;}
#content div.wrapper div.panel.left{width:440px;float:left;background:white;border-radius:6px;border:1px solid #d2d2d2;}#content div.wrapper div.panel.left:last-child{border:none;}
#content div.wrapper div.panel.left p{font-family:Helvetica,Arial,sans-serif;font-weight:700;color:#494848;line-height:1.5em;}
#content div.wrapper div.panel.left ul{font-weight:bold;}
#content div.wrapper *{margin:11px 0;}
#content div.wrapper h1{border-bottom:1px solid #d2d2d2;margin:5px 0;font-weight:bold;font-size:22px;padding:13px 23px;line-height:1.5em;}
#content div.wrapper h2{margin:5px 0;padding:13px 23px;}
#content div.wrapper p{padding:5px 24px;margin-top:5px;margin-bottom:0;}
#content div.wrapper code,#content div.wrapper pre{border:1px dashed #FF6868;display:block;overflow:auto;padding:10px;margin:23px;white-space:pre;}
#content div.menu{float:left;width:210px;height:100%;margin-top:-16px;font-weight:700;}#content div.menu a{text-decoration:none;color:#0065A8;}#content div.menu a:hover{text-decoration:none;color:#494848;}
#content div.menu ul{list-style-type:none;padding-left:0;}
#content div.menu.fixed{z-index:9999;position:fixed;top:0;}
#content div.copy-platforms{float:left;width:750px;height:400px;margin-top:-20px;overflow:auto;}#content div.copy-platforms div.jspContainer{width:730px;}
#content div.copy-platforms img{margin-bottom:185px;width:450px;}#content div.copy-platforms img.last{margin-bottom:85px;}
#content div.copy-platforms img.second{margin-bottom:40px;margin-top:-2px;}
#content div.copy-platforms p{width:220px;float:left;}#content div.copy-platforms p.secondary{float:none;width:650px;padding-bottom:17px;}
#content div.products div.menu{width:200px;}
#content div.copy-products{float:left;width:730px;height:400px;overflow:auto;margin-top:0;padding-left:24px;}#content div.copy-products img{padding-left:24px;}
#content div.lead{height:500px;background-color:white;border-radius:6px;border:1px solid #d2d2d2;}#content div.lead div.panel.right{width:443px;}#content div.lead div.panel.right img{margin-left:10px;}
#content div.lead div.panel.left{width:267px;border:none;}
#content div.mpu{height:500px;background-color:white;border-radius:6px;border:1px solid #d2d2d2;}#content div.mpu div.panel.right{width:443px;}
#content div.mpu div.panel.left{width:380px;border:none;}
#content div.sky{height:500px;background-color:white;border-radius:6px;border:1px solid #d2d2d2;}#content div.sky div.panel.left{width:275px;border:none;}
#content div.sky img{padding-left:105px;}
#content div.common-print{height:1230px;background-color:white;border-radius:6px;border:1px solid #d2d2d2;text-align:center;}
#content div.common-web{height:590px;background-color:white;border-radius:6px;border:1px solid #d2d2d2;padding-top:43px;}
footer{background:#fefffa;height:75px;font-size:14px;clear:both;}footer.front{margin-top:300px;}
footer div.wrapper img{float:right;}

